In [56]:
# Install dependencies

import sys
!{sys.executable} -m pip install hdfs

Requirement already satisfied: hdfs in /opt/conda/lib/python3.7/site-packages (2.7.0)
Requirement already satisfied: six>=1.9.0 in /opt/conda/lib/python3.7/site-packages (from hdfs) (1.16.0)
Requirement already satisfied: docopt in /opt/conda/lib/python3.7/site-packages (from hdfs) (0.6.2)
Requirement already satisfied: requests>=2.7.0 in /opt/conda/lib/python3.7/site-packages (from hdfs) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests>=2.7.0->hdfs) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests>=2.7.0->hdfs) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests>=2.7.0->hdfs) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.7/site-packages (from requests>=2.7.0->hdfs) (2.1.1)

In [57]:
pip install delta-spark

Requirement already satisfied: delta-spark in /opt/conda/lib/python3.7/site-packages (2.1.0)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.7/site-packages (from delta-spark) (4.11.4)
Requirement already satisfied: pyspark<3.4.0,>=3.3.0 in /usr/local/spark-3.3.0-bin-hadoop3/python (from delta-spark) (3.3.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=1.0.0->delta-spark) (4.4.0)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=1.0.0->delta-spark) (3.8.1)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/lib/python3.7/site-packages (from pyspark<3.4.0,>=3.3.0->delta-spark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [58]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
from delta import *

# warehouse_location points to the default location for managed databases and tables
warehouse_location = 'hdfs://hdfs-nn:9870/Trabalho'

builder = SparkSession \
    .builder \
    .appName("Python Spark SQL Hive integration example") \
    .config("spark.sql.warehouse.dir", warehouse_location) \
    .config("hive.metastore.uris", "thrift://hive-metastore:9083") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog") \
    .config("spark.jars.packages", "io.delta:delta-core_2.12:1.0.0") \
    .enableHiveSupport() \

spark = spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [59]:
# create gold database
spark.sql(
    """
    DROP DATABASE IF EXISTS Projeto_gold CASCADE
    """
)
spark.sql(
    """
    create database Projeto_gold location 'hdfs://hdfs-nn:9000/Trabalho/gold/Projeto_gold.db'
    """
)

DataFrame[]

In [60]:
from pyspark.sql.functions import substring, avg, sum

hdfs_path = "hdfs://hdfs-nn:9000/Trabalho/silver/Projeto.db/urban_park_ranger_animal_condition_response"

Animal_Condition = spark\
             .read\
             .load(hdfs_path)

Animal_Condition.toPandas()

,Date_and_Time_of_initial_call,Date_and_time_of_Ranger_response,Borough,Property,Location,Species_Description,Call_Source,Species_Status,Animal_Condition,Duration_of_Response,...,Final_Ranger_Action,of_Animals,PEP_Response,Animal_Monitored,Rehabilitator,Hours_spent_monitoring,Police_Response,ESU_Response,ACC_Intake_Number,registo_mes
0,06/23/2021 04:45:00 PM,06/24/2021 08:00:00 AM,Brooklyn,Sternberg Park,Inside locked athletic field under construction,Chukar,Other,Exotic,Healthy,6,...,ACC,6,false,false,Desconhecido/a,NaN,False,False,163537.0,06
1,06/24/2021 10:00:00 AM,06/24/2021 11:00:00 AM,Bronx,Haffen Park,Haffen Pool,Sparrow,Central,Native,Healthy,1.75,...,Rehabilitator,4,false,false,Desconhecido/a,NaN,False,False,NaN,06
2,06/23/2021 02:30:00 PM,06/23/2021 02:30:00 PM,Bronx,Pelham Bay Park,Pelham Bay South,White-tailed Deer,Employee,Native,N/A,1,...,Unfounded,0,false,false,Desconhecido/a,NaN,False,False,NaN,06
3,06/23/2021 01:00:00 PM,06/23/2021 01:10:00 PM,Staten Island,Willowbrook Park,The carousel,Raccoon,Employee,Native,N/A,2,...,Unfounded,0,false,false,Desconhecido/a,NaN,False,False,NaN,06
4,06/23/2021 09:20:00 AM,06/23/2021 09:20:00 AM,Queens,Judge Moses Weinstein Playground,Garbage can,Virginia Opossum,Central,Native,Healthy,2.25,...,ACC,1,false,false,Desconhecido/a,NaN,False,False,119833.0,06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2604,06/05/2018 12:00:00 AM,06/05/2018 12:01:00 AM,Manhattan,Abingdon Square,Desconhecido/a,raccoon,Central,Native,Healthy,0.75,...,Relocated/Condition Corrected,1,false,true,Desconhecido/a,1.0,False,False,NaN,06
2605,06/01/2018 12:00:00 PM,06/01/2018 12:30:00 PM,Manhattan,Central Park,park,Raccoon,Employee,Native,Injured,1.25,...,ACC,1,false,false,Desconhecido/a,NaN,False,False,36061.0,06
2606,05/16/2018 09:00:00 AM,05/17/2018 10:10:00 AM,Manhattan,Morningside Park,Desconhecido/a,Raccoon,Employee,Native,DOA,1.5,...,ACC,2,false,true,Desconhecido/a,0.5,False,False,28316.0,05
2607,05/02/2018 09:30:00 AM,05/02/2018 12:00:00 PM,Manhattan,Central Park,park sewer drain,Raccoon,Public,Native,Healthy,0.75,...,Unfounded,0,None,None,Desconhecido/a,NaN,None,False,NaN,05
2608,05/07/2018 01:30:00 PM,05/07/2018 01:40:00 PM,Manhattan,Central Park,West Dr and 99th Str,Red-tailed Hawk,Employee,Native,DOA,1,...,Submitted for DEC Testing,1,false,None,Desconhecido/a,NaN,None,False,NaN,05

In [61]:
from pyspark.sql.functions import count
gold_Animal_Condition = Animal_Condition \
    .groupBy("Species_Description")\
    .agg(
        count(Animal_Condition.Species_Description).alias("Contagem")
    ) \
   
gold_Animal_Condition.toPandas()
#Qual a espécie animal mais atendida/assistida?

            Species_Description  Contagem
0       Yellow-headed Blackbird         4
1                Painted Turtle         5
2             White-tailed Deer        68
3            American Goldfinch         1
4                Bird (Unknown)        34
..                          ...       ...
201  Yellow-crowned Night Heron         2
202                 -73.819753"         1
203               Laughing Gull         3
204       Blue-Grey Gnatcatcher         1
205                Green Iguana         1

[206 rows x 2 columns]

In [62]:
spark.sql(
    """
    DROP TABLE IF EXISTS Projeto_gold.TabelaAnimalCondition1
    """
)

spark.sql(
    """
    CREATE EXTERNAL TABLE Projeto_gold.TabelaAnimalCondition1 (
        Species_Description VARCHAR(250),
        Contagem LONG
    )
    USING DELTA
    LOCATION 'hdfs://hdfs-nn:9000/Trabalho/gold/Projeto_gold.db/TabelaAnimalCondition1/'
    """
)

DataFrame[]

In [63]:
# write to delta table
gold_Animal_Condition \
    .write  \
    .format("delta") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/Trabalho/gold/Projeto_gold.db/TabelaAnimalCondition1")

In [64]:
# check the results in the table
spark.table("Projeto_gold.TabelaAnimalCondition1").toPandas()

            Species_Description  Contagem
0       Yellow-headed Blackbird         4
1                Painted Turtle         5
2             White-tailed Deer        68
3            American Goldfinch         1
4                Bird (Unknown)        34
..                          ...       ...
201  Yellow-crowned Night Heron         2
202                 -73.819753"         1
203               Laughing Gull         3
204       Blue-Grey Gnatcatcher         1
205                Green Iguana         1

[206 rows x 2 columns]

In [65]:
spark.sql("""
GENERATE symlink_format_manifest FOR TABLE delta.`hdfs://hdfs-nn:9000/Trabalho/gold/Projeto_gold.db/TabelaAnimalCondition1/`
""").show()

++
||
++
++

In [66]:
spark.sql("""
DROP TABLE IF EXISTS Projeto_gold.TabelaAnimalCondition1_presto 
""").show()

spark.sql("""
    CREATE EXTERNAL TABLE Projeto_gold.TabelaAnimalCondition1_presto (
        Species_Description VARCHAR(250),  
        Contagem LONG
        )
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'org.apache.hadoop.hive.ql.io.SymlinkTextInputFormat'
OUTPUTFORMAT 'org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat'
LOCATION 'hdfs://hdfs-nn:9000/Trabalho/gold/Projeto_gold.db/TabelaAnimalCondition1/_symlink_format_manifest/'
""").show()

++
||
++
++

++
||
++
++